<a href="https://colab.research.google.com/github/navbharti/DSJava/blob/master/Basics_of_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Basics of Pandas python Library**

## Introduction to Pandas
Pandas is an **open-source** Python library providing **high-performance**, easy-to-use **data structures** and **data analysis tools** for the Python programming language. used in fields including **academic and commercial domains** including **finance**, **economics**, **Statistics**, **analytics**, etc. We will learn features of Python Pandas and how to use them in practice.

The name Pandas is derived from the word **Panel Data** – an **Econometrics** from **Multidimensional data**.

Pandas accomplishes five typical steps in the processing and analysis of data, regardless of the origin of data — **load**, **prepare**, **manipulate**, **model**, and **analyze**.

## Key Features of Pandas

1. Fast and efficient DataFrame object with default and customized indexing.
2. Tools for loading data into in-memory data objects from different file formats.
3. Data alignment and integrated handling of missing data.
4. Reshaping and pivoting of date sets.
5. Label-based slicing, indexing and subsetting of large data sets.
6. Columns from a data structure can be deleted or inserted.
7. Group by data for aggregation and transformations.
8. High performance merging and joining of data.
9. Time Series functionality.

### Installing pandas library:

`pip install pandas`

In [0]:
pip install pandas

## Introduction to Data Structures

### Pandas deals with the following three data structures −

1. Series
2. DataFrame
3. Panel

These data structures are built on top of Numpy array, which means they are fast.

## Dimension & Description

**Higher dimensional** data structure is a **container** of its **lower dimensional** data structure.For example, **DataFrame** is a container of **Series**, **Panel** is a container of **DataFrame**.

**Series**	1D labeled homogeneous array, sizeimmutable.

**Data Frames**	General 2D labeled, size-mutable tabular structure with potentially heterogeneously typed columns. Tabular data (DataFrame) it is more semantically helpful to think of the **index (the rows)** and the **columns** rather than axis 0 and axis 1.

**Panel**	General 3D labeled, size-mutable array.

### Mutability
All Pandas data structures are **value mutable** (can be changed) and except Series all are size mutable. Series is **size immutable**.

Note − DataFrame is widely used and one of the most important data structures. Panel is used much less.

### Series
Series is a one-dimensional array like structure with homogeneous data. For example, the following series is a collection of integers 10, 23, 56,...

### Key Points
* Homogeneous data
* Size Immutable
* Values of Data Mutable

### DataFrame
DataFrame is a two-dimensional array with heterogeneous data. For example,

| Name |	Age	| Gender	| Rating |
| ----- | :-----: | :----: | :----: |
| Steve	| 32	| Male	| 3.45 |
| Lia	| 28	| Female	| 4.6 |
| Vin	| 45	| Male	| 3.9 |
| Katie	| 38	| Female	| 2.78 |

### Key Points
* Heterogeneous data
* Size Mutable
* Data Mutable

### Panel
Panel is a **three-dimensional data structure** with **heterogeneous** data. It is hard to represent the panel in graphical representation. But a panel can be illustrated as a **container of DataFrame**.

### Key Points
* Heterogeneous data
* Size Mutable
* Data Mutable

In [1]:
#Create an empty Series
import pandas as pd
s = pd.Series()
print(s)

Series([], dtype: float64)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

In [2]:
#Creating a Series using ndarray.
import numpy as np
import pandas as pd

arr = np.array([1, 2, 3, 4, 5])
s1 = pd.Series(arr)
print(s1)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
arrChar = np.array(['a', 'b', 'c', 'd', 'e'])
sChar = pd.Series(arrChar)
print(sChar)

0    a
1    b
2    c
3    d
4    e
dtype: object

In [8]:
arrChar = np.array(['a', 'b', 'c', 'd', 'e'])
sChar = pd.Series(data=arrChar, index=[1, 3, 4, 9, 10], dtype=str)
print(sChar)

1     a
3     b
4     c
9     d
10    e
dtype: object

In [14]:
arrChar = np.array(['a', 'b', 'c', 'd', 'e'])
sChar = pd.Series(data=arrChar, index=[1, 3, 4, 9, 10], dtype=str, name='my char series', copy=True)
print(sChar)

1     a
3     b
4     c
9     d
10    e
Name: my char series, dtype: object

In [23]:
#Creating a Series using python dictionary
import numpy as np
import pandas as pd
dictData = {'a':1, 'b':2, 'c':3}
dictSeries = pd.Series(data=dictData)
print(dictSeries)

a    1
b    2
c    3
dtype: int64

In [25]:
#Creating pandas Series using python dictionary
import pandas as pd
import numpy as np
data = {'a' : 0., 'b' : 1., 'c' : 2.}
dict_s = pd.Series(data,index=['b','c','d','a'])
print (dict_s)

b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

In [26]:
#Create a Series from Scalar
import numpy as np
import pandas as pd
ss = pd.Series(data=5, index=[1, 2,3, 4, 5])
print(ss)

1    5
2    5
3    5
4    5
5    5
dtype: int64
ERROR! Session/line number was not unique in database. History logging moved to new session 61

In [27]:
#Accessing Data from Series with Position
ss[1]

5

In [29]:
dict_s['a']

0.0

## pandas.DataFrame( data, index, columns, dtype, copy)

![alt text](https://www.tutorialspoint.com/python_pandas/images/structure_table.jpg)

In [1]:
#Create an Empty DataFrame
#import the pandas library and aliasing as pd
import pandas as pd
df = pd.DataFrame()
print (df)

Empty DataFrame
Columns: []
Index: []

In [4]:
#Create a DataFrame from Lists
#The DataFrame can be created using a single list or a list of lists.
import pandas as pd
data = [1,2,3,4,5]
df = pd.DataFrame(data)
print (df)

df1 = pd.DataFrame([[1,2,3],[4,5,6, 9]])
print(df1)

   0
0  1
1  2
2  3
3  4
4  5
   0  1  2    3
0  1  2  3  NaN
1  4  5  6  9.0

In [5]:
import pandas as pd
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'])
print (df)

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13
ERROR! Session/line number was not unique in database. History logging moved to new session 60

In [6]:
import pandas as pd
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'],dtype=float)
print (df)

     Name   Age
0    Alex  10.0
1     Bob  12.0
2  Clarke  13.0

In [7]:
df['Name']

0      Alex
1       Bob
2    Clarke
Name: Name, dtype: object

In [8]:
df['Age']

0    10.0
1    12.0
2    13.0
Name: Age, dtype: float64

In [9]:
#Create a DataFrame from Dict of ndarrays / Lists
import pandas as pd
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data)
print (df)

    Name  Age
0    Tom   28
1   Jack   34
2  Steve   29
3  Ricky   42

In [10]:
#create an indexed DataFrame using arrays.
import pandas as pd
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data, index=['rank1','rank2','rank3','rank4'])
print (df)

        Name  Age
rank1    Tom   28
rank2   Jack   34
rank3  Steve   29
rank4  Ricky   42

In [11]:
import pandas as pd
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data, index=[1, 3, 6, 4])
print (df)

ERROR! Session/line number was not unique in database. History logging moved to new session 61
    Name  Age
1    Tom   28
3   Jack   34
6  Steve   29
4  Ricky   42

In [12]:
#Create a DataFrame from List of Dicts
#The dictionary keys are by default taken as column names.
import pandas as pd
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data)
print (df)

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [15]:
import pandas as pd
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20},{'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data, index=['first', 'second', 'third'])
print (df)

        a   b     c
first   1   2   NaN
second  5  10  20.0
third   5  10  20.0

In [18]:
#The following example shows how to create a DataFrame with a list of dictionaries, row indices, and column indices.
import pandas as pd
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]

#With two column indices, values same as dictionary keys
df1 = pd.DataFrame(data, index=['first', 'second'], columns=['a', 'b'])

#With two column indices with one index with other name
df2 = pd.DataFrame(data, index=['first', 'second'], columns=['a', 'b1'])
print (df1)
print (df2)

        a   b
first   1   2
second  5  10
        a  b1
first   1 NaN
second  5 NaN

In [19]:
#Create a DataFrame from Dict of Series
import pandas as pd

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print (df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [20]:
import pandas as pd

d = {'one' : pd.Series([1, 2, 3]),
   'two' : pd.Series([1, 2, 3, 4])}

df = pd.DataFrame(d)
print (df)

ERROR! Session/line number was not unique in database. History logging moved to new session 62
   one  two
0  1.0    1
1  2.0    2
2  3.0    3
3  NaN    4

In [26]:
#Column Selection
import pandas as pd

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print (df ['one'])

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64
ERROR! Session/line number was not unique in database. History logging moved to new session 63

In [27]:
#Column Addition
import pandas as pd

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)

# Adding a new column to an existing DataFrame object with column label by passing new series

print ("Adding a new column by passing as Series:")
df['three']=pd.Series([10,20,30],index=['a','b','c'])
print (df)

print ("Adding a new column using the existing columns in DataFrame:")
df['four']=df['one']+df['three']

print (df)

Adding a new column by passing as Series:
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
Adding a new column using the existing columns in DataFrame:
   one  two  three  four
a  1.0    1   10.0  11.0
b  2.0    2   20.0  22.0
c  3.0    3   30.0  33.0
d  NaN    4    NaN   NaN

In [40]:
df[:2]+5

   one  two  three  four
a  6.0    6   15.0  16.0
b  7.0    7   25.0  27.0

In [41]:
#Column Deletion
# Using the previous DataFrame, we will delete a column
# using del function
import pandas as pd

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd']), 
   'three' : pd.Series([10,20,30], index=['a','b','c'])}

df = pd.DataFrame(d)
print ("Our dataframe is:")
print (df)

# using del function
print ("Deleting the first column using DEL function:")
del df['one']
print (df)

# using pop function
print ("Deleting another column using POP function:")
df.pop('two')
print (df)

Our dataframe is:
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
Deleting the first column using DEL function:
   two  three
a    1   10.0
b    2   20.0
c    3   30.0
d    4    NaN
Deleting another column using POP function:
   three
a   10.0
b   20.0
c   30.0
d    NaN

In [42]:
#Row Selection, Addition, and Deletion
#Selection by Label
import pandas as pd

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print (df.loc['b'])

one    2.0
two    2.0
Name: b, dtype: float64

In [43]:
#Selection by integer location
#Rows can be selected by passing integer location to an iloc function.

import pandas as pd

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print (df.iloc[2])

one    3.0
two    3.0
Name: c, dtype: float64

In [46]:
#Slice Rows
import pandas as pd

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print (df[2:4]+5)

   one  two
c  8.0    8
d  NaN    9

In [48]:
#Addition of new Rows
#Add new rows to a DataFrame using the append function. This function will append the rows at the end.

import pandas as pd

df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['a','b'])

df = df.append(df2)
print (df)

   a  b
0  1  2
1  3  4
0  5  6
1  7  8

In [49]:
#Deletion of Rows
#Use index label to delete or drop rows from a DataFrame. If label is duplicated, then multiple rows will be dropped.
import pandas as pd

df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['a','b'])

df = df.append(df2)

# Drop rows with label 0
df = df.drop(0)

print (df)

   a  b
1  3  4
1  7  8

## Python Pandas - Panel

### pandas.Panel(data, items, major_axis, minor_axis, dtype, copy)

In [52]:
#Create Panel From 3D ndarray
# creating an empty panel
import pandas as pd
import numpy as np

data = np.random.rand(2,4,5)

p = pd.Panel()
print (p)

<pandas.Panel object at 0x7effd03289b0>

In [54]:
#Creating a Panel From dict of DataFrame Objects
#creating an empty panel
import pandas as pd
import numpy as np

data = {'Item1' : pd.DataFrame(np.random.randn(4, 3)), 
   'Item2' : pd.DataFrame(np.random.randn(4, 2))}
p = pd.Panel(data=data)
print (p)

TypeError: ignored

In [55]:
#Create an Empty Panel
#creating an empty panel
import pandas as pd
p = pd.Panel()
print (p)

<pandas.Panel object at 0x7effd15b2358>

### Selecting the Data from Panel
Select the data from the panel using −

* Items
* Major_axis
* Minor_axis

In [56]:
# creating an empty panel
import pandas as pd
import numpy as np
data = {'Item1' : pd.DataFrame(np.random.randn(4, 3)), 
   'Item2' : pd.DataFrame(np.random.randn(4, 2))}
p = pd.Panel(data)
print (p['Item1'])

ERROR! Session/line number was not unique in database. History logging moved to new session 66

TypeError: ignored

In [57]:
# importing pandas module   
import pandas as pd   
import numpy as np  
    
df1 = pd.DataFrame({'a': ['Geeks', 'For', 'geeks', 'for', 'real'],   
                    'b': [11, 1.025, 333, 114.48, 1333]})  
                        
data = {'item1':df1, 'item2':df1}  
    
# creating Panel   
panel = pd.Panel.from_dict(data, orient ='minor')  
    
print("panel['b'] is - \n\n", panel['b'], '\n')  
    
print("\nSize of panel['b'] is - ", panel['b'].shape)

AttributeError: ignored

## Series Basic Functionality

* **axes** :Returns a list of the row axis labels
* **dtype** :Returns the dtype of the object.
* **empty**:Returns True if series is empty.
* **ndim**:Returns the number of dimensions of the underlying data, by definition 1.
* **size**:Returns the number of elements in the underlying data.
* **values**:Returns the Series as ndarray.
* **head()**:Returns the first n rows.
* **tail()**:Returns the last n rows.

In [61]:
import pandas as pd
import numpy as np

#Create a series with 100 random numbers
s = pd.Series(np.random.randn(4))
print (s)

0    0.552010
1    0.296869
2   -0.500549
3   -0.244376
dtype: float64

In [62]:
import pandas as pd
import numpy as np

#Create a series with 100 random numbers
s = pd.Series(np.random.randn(4))
print ("The axes are:")
print (s.axes)

The axes are:
[RangeIndex(start=0, stop=4, step=1)]

In [64]:
import pandas as pd
import numpy as np

#Create a series with 100 random numbers
s = pd.Series(np.random.randn(4))
print ("Is the Object empty?")
print (s.empty)
ss = pd.Series()
print ("Is the Object empty?")
print (ss.empty)

Is the Object empty?
False
Is the Object empty?
True

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

In [65]:
import pandas as pd
import numpy as np

#Create a series with 4 random numbers
s = pd.Series(np.random.randn(4))
print (s)

print ("The dimensions of the object:")
print (s.ndim)

0    0.805112
1    0.967399
2    0.787331
3   -2.066106
dtype: float64
The dimensions of the object:
1
ERROR! Session/line number was not unique in database. History logging moved to new session 68

In [66]:
import pandas as pd
import numpy as np

#Create a series with 4 random numbers
s = pd.Series(np.random.randn(2))
print (s)
print ("The size of the object:")
print( s.size)

0   -1.230046
1    0.014566
dtype: float64
The size of the object:
2

In [67]:
import pandas as pd
import numpy as np

#Create a series with 4 random numbers
s = pd.Series(np.random.randn(4))
print (s)

print ("The actual data series is:")
print (s.values)

0    0.548129
1   -0.846864
2    0.002591
3   -0.387203
dtype: float64
The actual data series is:
[ 0.54812915 -0.8468636   0.00259051 -0.38720331]

In [68]:
import pandas as pd
import numpy as np

#Create a series with 4 random numbers
s = pd.Series(np.random.randn(4))
print ("The original series is:")
print (s)

print ("The first two rows of the data series:")
print (s.head(2))

The original series is:
0   -1.278764
1    1.449324
2    0.398836
3   -0.638643
dtype: float64
The first two rows of the data series:
0   -1.278764
1    1.449324
dtype: float64

In [69]:
import pandas as pd
import numpy as np

#Create a series with 4 random numbers
s = pd.Series(np.random.randn(4))
print ("The original series is:")
print (s)

print ("The last two rows of the data series:")
print (s.tail(2))

The original series is:
0    2.221833
1    0.572143
2   -0.588066
3    0.644597
dtype: float64
The last two rows of the data series:
2   -0.588066
3    0.644597
dtype: float64

## DataFrame Basic Functionality
* **T**:Transposes rows and columns.
* **axes**:Returns a list with the row axis labels and column axis labels as the only members.
* **dtypes**:Returns the dtypes in this object.
* **empty**:True if NDFrame is entirely empty [no items]; if any of the axes are of length 0.
* **ndim**:Number of axes / array dimensions.
* **shape**:Returns a tuple representing the dimensionality of the DataFrame.
* **size**:Number of elements in the NDFrame.
* **values**:Numpy representation of NDFrame.
* **head()**:Returns the first n rows.
* **tail()**:Returns last n rows.

In [84]:
import pandas as pd
import numpy as np

#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
   'Age':pd.Series([25,26,25,23,30,29,23]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}

#Create a DataFrame
df = pd.DataFrame(d)
print ("Our data series is:")
print (df)

Our data series is:
    Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24
2  Ricky   25    3.98
3    Vin   23    2.56
4  Steve   30    3.20
5  Smith   29    4.60
6   Jack   23    3.80

In [85]:
#Print transpose of the DataFrame
print (df.T)
print(df['Name'])

           0      1      2     3      4      5     6
Name     Tom  James  Ricky   Vin  Steve  Smith  Jack
Age       25     26     25    23     30     29    23
Rating  4.23   3.24   3.98  2.56    3.2    4.6   3.8
0      Tom
1    James
2    Ricky
3      Vin
4    Steve
5    Smith
6     Jack
Name: Name, dtype: object

In [86]:
print ("Row axis labels and column axis labels are:")
print (df.axes)

Row axis labels and column axis labels are:
[RangeIndex(start=0, stop=7, step=1), Index(['Name', 'Age', 'Rating'], dtype='object')]

In [87]:
print ("The data types of each column are:")
print (df.dtypes)

The data types of each column are:
Name       object
Age         int64
Rating    float64
dtype: object

In [88]:
print ("Is the object empty?")
print (df.empty)

Is the object empty?
False

In [89]:
print ("The dimension of the object is:")
print (df.ndim)

The dimension of the object is:
2

In [90]:
print ("The shape of the object is:")
print (df.shape)

The shape of the object is:
(7, 3)

In [91]:
print ("The total number of elements in our object is:")
print (df.size)

The total number of elements in our object is:
21

In [92]:
print ("The actual data in our data frame is:")
print (df.values)

The actual data in our data frame is:
[['Tom' 25 4.23]
 ['James' 26 3.24]
 ['Ricky' 25 3.98]
 ['Vin' 23 2.56]
 ['Steve' 30 3.2]
 ['Smith' 29 4.6]
 ['Jack' 23 3.8]]

In [93]:
print ("The first two rows of the data frame is:")
print (df.head(2))

The first two rows of the data frame is:
    Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24

In [94]:
print ("The last two rows of the data frame is:")
print (df.tail(2))

The last two rows of the data frame is:
    Name  Age  Rating
5  Smith   29     4.6
6   Jack   23     3.8

## Python Pandas - Descriptive Statistics

In [95]:
import pandas as pd
import numpy as np

#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack',
   'Lee','David','Gasper','Betina','Andres']),
   'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
}

#Create a DataFrame
df = pd.DataFrame(d)
print (df)

      Name  Age  Rating
0      Tom   25    4.23
1    James   26    3.24
2    Ricky   25    3.98
3      Vin   23    2.56
4    Steve   30    3.20
5    Smith   29    4.60
6     Jack   23    3.80
7      Lee   34    3.78
8    David   40    2.98
9   Gasper   30    4.80
10  Betina   51    4.10
11  Andres   46    3.65

In [96]:
print (df.sum())

Name      TomJamesRickyVinSteveSmithJackLeeDavidGasperBe...
Age                                                     382
Rating                                                44.92
dtype: object

In [99]:
print (df.sum(1))

Name      TomJamesRickyVinSteveSmithJackLeeDavidGasperBe...
Age                                                     382
Rating                                                44.92
dtype: object

In [100]:
print(df.mean())

Age       31.833333
Rating     3.743333
dtype: float64

In [102]:
print(df.std())

Age       9.232682
Rating    0.661628
dtype: float64

### Functions & Description
1.	**count()**	Number of non-null observations
2.	**sum()**	Sum of values
3.	**mean()**	Mean of Values
4.	**median()**	Median of Values
5.	**mode()**	Mode of values
6.	**std()**	Standard Deviation of the Values
7.	**min()**	Minimum Value
8.	**max()**	Maximum Value
9.	**abs()**	Absolute Value
10.	**prod()**	Product of Values
11.	**cumsum()**	Cumulative Sum
12.	**cumprod()**	Cumulative Product

In [103]:
print(df.median())

Age       29.50
Rating     3.79
dtype: float64

In [108]:
print(df.mode(1))

         0       1     2
0      Tom      25  4.23
1       26   James  3.24
2    Ricky      25  3.98
3     2.56      23   Vin
4    Steve      30   3.2
5       29   Smith   4.6
6      3.8    Jack    23
7      Lee      34  3.78
8    David      40  2.98
9   Gasper     4.8    30
10     4.1  Betina    51
11    3.65  Andres    46

/usr/local/lib/python3.6/dist-packages/pandas/core/algorithms.py:846: UserWarning: Unable to sort modes: '<' not supported between instances of 'int' and 'str'
  warn(f"Unable to sort modes: {err}")
/usr/local/lib/python3.6/dist-packages/pandas/core/algorithms.py:846: UserWarning: Unable to sort modes: '<' not supported between instances of 'str' and 'int'
  warn(f"Unable to sort modes: {err}")
/usr/local/lib/python3.6/dist-packages/pandas/core/algorithms.py:846: UserWarning: Unable to sort modes: '<' not supported between instances of 'str' and 'float'
  warn(f"Unable to sort modes: {err}")
/usr/local/lib/python3.6/dist-packages/pandas/core/algorithms.py:846: UserWarning: Unable to sort modes: '<' not supported between instances of 'float' and 'str'
  warn(f"Unable to sort modes: {err}")

In [109]:
print(df.min())

Name      Andres
Age           23
Rating      2.56
dtype: object

In [110]:
print(df.max())

Name      Vin
Age        51
Rating    4.8
dtype: object

In [117]:
print(df)
print(df['Age'].abs())

      Name  Age  Rating
0      Tom   25    4.23
1    James   26    3.24
2    Ricky   25    3.98
3      Vin   23    2.56
4    Steve   30    3.20
5    Smith   29    4.60
6     Jack   23    3.80
7      Lee   34    3.78
8    David   40    2.98
9   Gasper   30    4.80
10  Betina   51    4.10
11  Andres   46    3.65
0     25
1     26
2     25
3     23
4     30
5     29
6     23
7     34
8     40
9     30
10    51
11    46
Name: Age, dtype: int64

In [121]:
print(df)
print(df.prod(0))

      Name  Age  Rating
0      Tom   25    4.23
1    James   26    3.24
2    Ricky   25    3.98
3      Vin   23    2.56
4    Steve   30    3.20
5    Smith   29    4.60
6     Jack   23    3.80
7      Lee   34    3.78
8    David   40    2.98
9   Gasper   30    4.80
10  Betina   51    4.10
11  Andres   46    3.65
Age       7.158408e+17
Rating    6.320128e+06
dtype: float64

In [122]:
df.prod(1)

0     105.75
1      84.24
2      99.50
3      58.88
4      96.00
5     133.40
6      87.40
7     128.52
8     119.20
9     144.00
10    209.10
11    167.90
dtype: float64

In [124]:
print(df.cumsum())

0                                                   Tom
1                                              TomJames
2                                         TomJamesRicky
3                                      TomJamesRickyVin
4                                 TomJamesRickyVinSteve
5                            TomJamesRickyVinSteveSmith
6                        TomJamesRickyVinSteveSmithJack
7                     TomJamesRickyVinSteveSmithJackLee
8                TomJamesRickyVinSteveSmithJackLeeDavid
9          TomJamesRickyVinSteveSmithJackLeeDavidGasper
10    TomJamesRickyVinSteveSmithJackLeeDavidGasperBe...
11    TomJamesRickyVinSteveSmithJackLeeDavidGasperBe...
Name: Name, dtype: object

In [127]:
print(df.cumprod(1))

TypeError: ignored

In [128]:
#The describe() function computes a summary of statistics pertaining to the DataFrame columns.
print (df.describe())

             Age     Rating
count  12.000000  12.000000
mean   31.833333   3.743333
std     9.232682   0.661628
min    23.000000   2.560000
25%    25.000000   3.230000
50%    29.500000   3.790000
75%    35.500000   4.132500
max    51.000000   4.800000ERROR! Session/line number was not unique in database. History logging moved to new session 70

'**include**' is the argument which is used to pass necessary information regarding what columns need to be considered for summarizing. Takes the list of values; by default, 'number'.

* **object** − Summarizes String columns
* **number** − Summarizes Numeric columns
* **all** − Summarizes all columns together (Should not pass it as a list value)

In [129]:
print (df.describe(include=['object']))

          Name
count       12
unique      12
top     Betina
freq         1

In [130]:
print (df.describe(include=['number']))

             Age     Rating
count  12.000000  12.000000
mean   31.833333   3.743333
std     9.232682   0.661628
min    23.000000   2.560000
25%    25.000000   3.230000
50%    29.500000   3.790000
75%    35.500000   4.132500
max    51.000000   4.800000

In [132]:
print( df. describe(include='all'))

          Name        Age     Rating
count       12  12.000000  12.000000
unique      12        NaN        NaN
top     Betina        NaN        NaN
freq         1        NaN        NaN
mean       NaN  31.833333   3.743333
std        NaN   9.232682   0.661628
min        NaN  23.000000   2.560000
25%        NaN  25.000000   3.230000
50%        NaN  29.500000   3.790000
75%        NaN  35.500000   4.132500
max        NaN  51.000000   4.800000ERROR! Session/line number was not unique in
database. History logging moved to new session 71

## Python Pandas - Function Application
### Table-wise Function Application
Custom operations can be performed by passing the function and the appropriate number of parameters as pipe arguments. Thus, operation is performed on the whole DataFrame.

In [135]:
#add a value 2 to all the elements in the DataFrame. 
def adder(ele1,ele2):
   return ele1+ele2

df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
print(df)
df.pipe(adder,2)

       col1      col2      col3
0  0.226112 -1.423485  0.624486
1 -0.041094 -0.884233 -0.013829
2  0.862342  1.874028 -0.391475
3 -0.224805  0.159891  0.435118
4  1.899470  1.231557 -0.226564

       col1      col2      col3
0  2.226112  0.576515  2.624486
1  1.958906  1.115767  1.986171
2  2.862342  3.874028  1.608525
3  1.775195  2.159891  2.435118
4  3.899470  3.231557  1.773436

In [136]:
df.pipe(adder,2)
print (df.apply(np.mean))

col1    0.544405
col2    0.191551
col3    0.085547
dtype: float64

### Row or Column Wise Function Application

In [143]:
print(df.apply(np.mean))
print (df.apply(np.mean))

col1    0.544405
col2    0.191551
col3    0.085547
dtype: float64
col1    0.544405
col2    0.191551
col3    0.085547
dtype: float64

In [142]:
print(df.apply(np.mean,axis=0))
print (df.apply(np.mean))

col1    0.544405
col2    0.191551
col3    0.085547
dtype: float64
col1    0.544405
col2    0.191551
col3    0.085547
dtype: float64

In [141]:
print(df.apply(lambda x: x.max() - x.min()))
print (df.apply(np.mean))

col1    2.124275
col2    3.297513
col3    1.015961
dtype: float64
col1    0.544405
col2    0.191551
col3    0.085547
dtype: float64

### Element Wise Function Application

In [146]:
# My custom function
print(df['col1'])
print(df['col1'].map(lambda x:x*100))
print (df.apply(np.mean))

0    0.226112
1   -0.041094
2    0.862342
3   -0.224805
4    1.899470
Name: col1, dtype: float64
0     22.611243
1     -4.109373
2     86.234156
3    -22.480520
4    189.947019
Name: col1, dtype: float64
col1    0.544405
col2    0.191551
col3    0.085547
dtype: float64

In [148]:
print(df.applymap(lambda x:x*100))
print (df.apply(np.mean))

         col1        col2       col3
0   22.611243 -142.348512  62.448606
1   -4.109373  -88.423290  -1.382885
2   86.234156  187.402810 -39.147543
3  -22.480520   15.989051  43.511774
4  189.947019  123.155657 -22.656400
col1    0.544405
col2    0.191551
col3    0.085547
dtype: float64

## Python Pandas - Reindexing
Reindexing changes the row labels and column labels of a DataFrame.

In [4]:
import pandas as pd
import numpy as np

N=20

df = pd.DataFrame({
   'A': pd.date_range(start='2016-01-01',periods=N,freq='D'),
   'x': np.linspace(0,stop=N-1,num=N),
   'y': np.random.rand(N),
   'C': np.random.choice(['Low','Medium','High'],N).tolist(),
   'D': np.random.normal(100, 10, size=(N)).tolist()
})

print(df)
#reindex the DataFrame
df_reindexed = df.reindex(index=[0,2,4], columns=['A', 'C', 'D'])

print( df_reindexed)

            A     x         y       C           D
0  2016-01-01   0.0  0.150771     Low  123.087393
1  2016-01-02   1.0  0.939073  Medium   89.830870
2  2016-01-03   2.0  0.438859  Medium  100.678094
3  2016-01-04   3.0  0.843732    High   97.138937
4  2016-01-05   4.0  0.636331     Low   97.135514
5  2016-01-06   5.0  0.006361    High  110.464640
6  2016-01-07   6.0  0.680660     Low  101.795384
7  2016-01-08   7.0  0.023804     Low  106.345138
8  2016-01-09   8.0  0.527520  Medium  100.251137
9  2016-01-10   9.0  0.077870     Low  113.821712
10 2016-01-11  10.0  0.147339    High   96.148071
11 2016-01-12  11.0  0.210849  Medium  111.055961
12 2016-01-13  12.0  0.822097  Medium   97.184068
13 2016-01-14  13.0  0.060958     Low   96.628082
14 2016-01-15  14.0  0.540835  Medium   83.808239
15 2016-01-16  15.0  0.573662  Medium   86.161629
16 2016-01-17  16.0  0.803830    High   88.134511
17 2016-01-18  17.0  0.348288  Medium   97.755393
18 2016-01-19  18.0  0.061286    High   96.835252
19 2016-01-20  19.0  0.850612  Medium   91.760744
           A       C           D
0 2016-01-01     Low  123.087393
2 2016-01-03  Medium  100.678094
4 2016-01-05     Low   97.135514

In [5]:
import pandas as pd
import numpy as np

df1 = pd.DataFrame(np.random.randn(10,3),columns=['col1','col2','col3'])
df2 = pd.DataFrame(np.random.randn(7,3),columns=['col1','col2','col3'])

df1 = df1.reindex_like(df2)
print (df1)

       col1      col2      col3
0  2.672726  0.924205 -0.785096
1 -1.472226  0.205442  0.685392
2 -1.903454 -0.736535  1.038072
3 -0.342941 -0.070003 -1.212577
4  2.418722  0.106859 -0.365743
5  0.470687  0.770905 -0.438650
6  0.089952 -1.315112  0.467611

In [6]:
import pandas as pd
import numpy as np

df1 = pd.DataFrame(np.random.randn(6,3),columns=['col1','col2','col3'])
df2 = pd.DataFrame(np.random.randn(2,3),columns=['col1','col2','col3'])

# Padding NAN's
print (df2.reindex_like(df1))

# Now Fill the NAN's with preceding Values
print ("Data Frame with Forward Fill:")
print (df2.reindex_like(df1,method='ffill'))

       col1      col2      col3
0  0.208705  0.559783  0.104621
1  1.962928 -1.039741  0.348336
2       NaN       NaN       NaN
3       NaN       NaN       NaN
4       NaN       NaN       NaN
5       NaN       NaN       NaN
Data Frame with Forward Fill:
       col1      col2      col3
0  0.208705  0.559783  0.104621
1  1.962928 -1.039741  0.348336
2  1.962928 -1.039741  0.348336
3  1.962928 -1.039741  0.348336
4  1.962928 -1.039741  0.348336
5  1.962928 -1.039741  0.348336

In [7]:
import pandas as pd
import numpy as np
 
df1 = pd.DataFrame(np.random.randn(6,3),columns=['col1','col2','col3'])
df2 = pd.DataFrame(np.random.randn(2,3),columns=['col1','col2','col3'])

# Padding NAN's
print (df2.reindex_like(df1))

# Now Fill the NAN's with preceding Values
print ("Data Frame with Forward Fill limiting to 1:")
print (df2.reindex_like(df1,method='ffill',limit=1))

       col1      col2      col3
0 -0.583144  0.802433  2.213970
1 -0.459285  0.188385 -2.452764
2       NaN       NaN       NaN
3       NaN       NaN       NaN
4       NaN       NaN       NaN
5       NaN       NaN       NaN
Data Frame with Forward Fill limiting to 1:
       col1      col2      col3
0 -0.583144  0.802433  2.213970
1 -0.459285  0.188385 -2.452764
2 -0.459285  0.188385 -2.452764
3       NaN       NaN       NaN
4       NaN       NaN       NaN
5       NaN       NaN       NaN

In [8]:
import pandas as pd
import numpy as np

df1 = pd.DataFrame(np.random.randn(6,3),columns=['col1','col2','col3'])
print (df1)

print ("After renaming the rows and columns:")
print (df1.rename(columns={'col1' : 'c1', 'col2' : 'c2'},
index = {0 : 'apple', 1 : 'banana', 2 : 'durian'}))

       col1      col2      col3
0  0.208941  1.356587 -0.170012
1 -0.157762 -0.890399 -1.195727
2  0.187657  1.622212  1.794577
3 -0.235196 -2.444616  1.153148
4 -0.806245  0.486079  0.189120
5  0.910469 -1.224506 -0.135558
After renaming the rows and columns:
              c1        c2      col3
apple   0.208941  1.356587 -0.170012
banana -0.157762 -0.890399 -1.195727
durian  0.187657  1.622212  1.794577
3      -0.235196 -2.444616  1.153148
4      -0.806245  0.486079  0.189120
5       0.910469 -1.224506 -0.135558

## Python Pandas - Iteration

In [9]:
import pandas as pd
import numpy as np
 
N=20
df = pd.DataFrame({
   'A': pd.date_range(start='2016-01-01',periods=N,freq='D'),
   'x': np.linspace(0,stop=N-1,num=N),
   'y': np.random.rand(N),
   'C': np.random.choice(['Low','Medium','High'],N).tolist(),
   'D': np.random.normal(100, 10, size=(N)).tolist()
   })

for col in df:
   print (col)

A
x
y
C
D

In [10]:
import pandas as pd
import numpy as np
 
df = pd.DataFrame(np.random.randn(4,3),columns=['col1','col2','col3'])
for key,value in df.iteritems():
   print (key,value)

col1 0    0.896333
1   -0.036921
2    0.915943
3    0.315085
Name: col1, dtype: float64
col2 0    0.435344
1    1.885005
2   -1.722996
3   -0.409514
Name: col2, dtype: float64
col3 0    1.433844
1   -0.774650
2   -1.531261
3   -0.642967
Name: col3, dtype: float64

In [11]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(4,3),columns = ['col1','col2','col3'])
for row_index,row in df.iterrows():
   print (row_index,row)

0 col1    0.992143
col2    0.791813
col3   -0.076184
Name: 0, dtype: float64
1 col1   -0.656419
col2   -0.165850
col3   -1.372502
Name: 1, dtype: float64
2 col1    0.081907
col2    0.677195
col3   -0.228873
Name: 2, dtype: float64
3 col1   -0.331195
col2    1.072321
col3    0.145961
Name: 3, dtype: float64

In [12]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(4,3),columns = ['col1','col2','col3'])
for row in df.itertuples():
    print (row)

Pandas(Index=0, col1=-0.4894135432445745, col2=-0.06273724385807866, col3=0.32943958166444937)
Pandas(Index=1, col1=-0.6555120801613988, col2=-0.23119972534301275, col3=-0.571641901242691)
Pandas(Index=2, col1=0.6566258878076404, col2=-2.2313438308420825, col3=-0.41397645296313346)
Pandas(Index=3, col1=-0.492902350736651, col2=2.820777043559609, col3=2.4737333275194713)

In [13]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(4,3),columns = ['col1','col2','col3'])

for index, row in df.iterrows():
   row['a'] = 10
print (df)

       col1      col2      col3
0  0.522291  2.108534  0.215690
1 -0.403050 -0.375791 -0.769073
2  0.627789  0.735693  0.216440
3 -0.106216 -1.375644  0.456307

## Python Pandas - Sorting

In [14]:
import pandas as pd
import numpy as np

unsorted_df=pd.DataFrame(np.random.randn(10,2),index=[1,4,6,2,3,5,9,8,0,7],columns=['col2','col1'])
print (unsorted_df)

ERROR! Session/line number was not unique in database. History logging moved to new session 60
       col2      col1
1  1.065468 -1.348017
4 -0.374011  0.377301
6  0.289022 -0.681493
2  0.368463  1.087000
3 -1.611532 -0.492986
5  0.246382 -1.422840
9 -0.131962  1.182316
8  0.142999  0.767016
0  2.217176 -0.893923
7  1.010927  0.969273

In [15]:
import pandas as pd
import numpy as np

unsorted_df = pd.DataFrame(np.random.randn(10,2),index=[1,4,6,2,3,5,9,8,0,7],columns = ['col2','col1'])

sorted_df=unsorted_df.sort_index()
print (sorted_df)

ERROR! Session/line number was not unique in database. History logging moved to new session 61
       col2      col1
0  0.575841  1.577283
1  1.488000  0.369428
2 -0.086844  1.611027
3 -0.891990  0.461783
4 -0.330047  0.892989
5  0.410422  0.289371
6  1.461096  0.864773
7  0.635519  0.493854
8 -0.292707  0.179052
9  1.109642  1.624882

In [16]:
import pandas as pd
import numpy as np

unsorted_df = pd.DataFrame(np.random.randn(10,2),index=[1,4,6,2,3,5,9,8,0,7],columns = ['col2','col1'])

sorted_df = unsorted_df.sort_index(ascending=False)
print (sorted_df)

       col2      col1
9  0.110776  0.511488
8 -0.174287  1.059616
7  0.457012  0.783820
6 -0.469859 -1.255665
5 -0.411706  0.733511
4 -0.247830  1.339177
3  1.526585  0.203259
2 -0.556648 -1.062399
1 -0.646098 -1.030005
0  0.359739  1.351297

In [18]:
import pandas as pd
import numpy as np
 
unsorted_df = pd.DataFrame(np.random.randn(10,2),index=[1,4,6,2,3,5,9,8,0,7],columns = ['col2','col1'])
print (unsorted_df)
sorted_df=unsorted_df.sort_index(axis=1)

print (sorted_df)

       col2      col1
1  1.290017 -1.373659
4 -1.551860 -0.003786
6 -1.374856  0.405326
2  0.878012 -1.949291
3  0.101125 -1.728091
5  0.534433 -0.584604
9 -0.063045 -1.471844
8  0.408603  0.537478
0 -0.094549  1.527838
7 -0.001657  0.407114
       col1      col2
1 -1.373659  1.290017
4 -0.003786 -1.551860
6  0.405326 -1.374856
2 -1.949291  0.878012
3 -1.728091  0.101125
5 -0.584604  0.534433
9 -1.471844 -0.063045
8  0.537478  0.408603
0  1.527838 -0.094549
7  0.407114 -0.001657

In [19]:
import pandas as pd
import numpy as np

unsorted_df = pd.DataFrame({'col1':[2,1,1,1],'col2':[1,3,2,4]})
sorted_df = unsorted_df.sort_values(by='col1')

print (sorted_df)

   col1  col2
1     1     3
2     1     2
3     1     4
0     2     1
ERROR! Session/line number was not unique in database. History logging moved to new session 62

In [20]:
import pandas as pd
import numpy as np

unsorted_df = pd.DataFrame({'col1':[2,1,1,1],'col2':[1,3,2,4]})
sorted_df = unsorted_df.sort_values(by='col1' ,kind='mergesort')

print (sorted_df)

   col1  col2
1     1     3
2     1     2
3     1     4
0     2     1

## Python Pandas - Working with Text Data

In [21]:
import pandas as pd
import numpy as np

s = pd.Series(['Tom', 'William Rick', 'John', 'Alber@t', np.nan, '1234','SteveSmith'])

print (s)

0             Tom
1    William Rick
2            John
3         Alber@t
4             NaN
5            1234
6      SteveSmith
dtype: object

In [22]:
import pandas as pd
import numpy as np

s = pd.Series(['Tom', 'William Rick', 'John', 'Alber@t', np.nan, '1234','SteveSmith'])

print (s.str.lower())

0             tom
1    william rick
2            john
3         alber@t
4             NaN
5            1234
6      stevesmith
dtype: object

In [23]:
import pandas as pd
import numpy as np

s = pd.Series(['Tom', 'William Rick', 'John', 'Alber@t', np.nan, '1234','SteveSmith'])

print (s.str.upper())

0             TOM
1    WILLIAM RICK
2            JOHN
3         ALBER@T
4             NaN
5            1234
6      STEVESMITH
dtype: object

In [24]:
import pandas as pd
import numpy as np

s = pd.Series(['Tom', 'William Rick', 'John', 'Alber@t', np.nan, '1234','SteveSmith'])
print (s.str.len())

0     3.0
1    12.0
2     4.0
3     7.0
4     NaN
5     4.0
6    10.0
dtype: float64

In [25]:
import pandas as pd
import numpy as np
s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])
print (s)
print ("After Stripping:")
print (s.str.strip())

0             Tom
1     William Rick
2             John
3          Alber@t
dtype: object
After Stripping:
0             Tom
1    William Rick
2            John
3         Alber@t
dtype: object
ERROR! Session/line number was not unique in database. History logging moved to new session 63

In [26]:
import pandas as pd
import numpy as np
s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])
print (s)
print ("Split Pattern:")
print (s.str.split(' '))

0             Tom
1     William Rick
2             John
3          Alber@t
dtype: object
Split Pattern:
0              [Tom, ]
1    [, William, Rick]
2               [John]
3            [Alber@t]
dtype: object

In [27]:
import pandas as pd
import numpy as np

s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])

print (s.str.cat(sep='_'))

Tom _ William Rick_John_Alber@t

In [28]:
import pandas as pd
import numpy as np

s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])

print (s.str.get_dummies())

    William Rick  Alber@t  John  Tom
0              0        0     0     1
1              1        0     0     0
2              0        0     1     0
3              0        1     0     0

In [29]:
import pandas as pd

s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])

print (s.str.contains(' '))

0     True
1     True
2    False
3    False
dtype: bool

In [30]:
import pandas as pd
s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])
print (s)
print ("After replacing @ with $:")
print (s.str.replace('@','$'))

0             Tom
1     William Rick
2             John
3          Alber@t
dtype: object
After replacing @ with $:
0             Tom
1     William Rick
2             John
3          Alber$t
dtype: object

In [32]:
import pandas as pd

s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])

print( s.str.repeat(3))

0                               Tom Tom Tom
1     William Rick William Rick William Rick
2                               JohnJohnJohn
3                      Alber@tAlber@tAlber@t
dtype: object

In [33]:
import pandas as pd
 
s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])

print ("The number of 'm's in each string:")
print (s.str.count('m'))

The number of 'm's in each string:
0    1
1    1
2    0
3    0
dtype: int64
ERROR! Session/line number was not unique in database. History logging moved to new session 64

In [34]:
import pandas as pd

s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])

print ("Strings that start with 'T':")
print (s.str. startswith ('T'))

Strings that start with 'T':
0     True
1    False
2    False
3    False
dtype: bool

In [35]:
import pandas as pd
s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])
print ("Strings that end with 't':")
print (s.str.endswith('t'))

Strings that end with 't':
0    False
1    False
2    False
3     True
dtype: bool

In [36]:
import pandas as pd

s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])

print (s.str.find('e'))

0   -1
1   -1
2   -1
3    3
dtype: int64

In [37]:
import pandas as pd

s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])

print (s.str.findall('e'))

0     []
1     []
2     []
3    [e]
dtype: object

In [38]:
import pandas as pd

s = pd.Series(['Tom', 'William Rick', 'John', 'Alber@t'])
print (s.str.swapcase())

0             tOM
1    wILLIAM rICK
2            jOHN
3         aLBER@T
dtype: object

In [39]:
import pandas as pd

s = pd.Series(['Tom', 'William Rick', 'John', 'Alber@t'])
print (s.str.islower())

0    False
1    False
2    False
3    False
dtype: bool

In [40]:
import pandas as pd

s = pd.Series(['Tom', 'William Rick', 'John', 'Alber@t'])

print (s.str.isupper())

0    False
1    False
2    False
3    False
dtype: bool

In [41]:
import pandas as pd

s = pd.Series(['Tom', 'William Rick', 'John', 'Alber@t'])

print (s.str.isnumeric())

0    False
1    False
2    False
3    False
dtype: bool

## Python Pandas - Indexing and Selecting Data
### .loc()
.loc() has multiple access methods like −

* A single scalar label
* A list of labels
* A slice object
* A Boolean array

In [2]:
#import the pandas library and aliasing as pd
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(8, 4), index = ['a','b','c','d','e','f','g','h'], columns = ['A', 'B', 'C', 'D'])
print(df)
#select all rows for a specific column
print (df.loc[:,'A'])

          A         B         C         D
a  0.292399 -0.873413 -0.675785 -0.103260
b -0.867710  0.241270  1.100251  0.507550
c  0.544243  0.754359  0.201483  1.788713
d -0.537503  0.247198 -0.250248  1.013950
e -1.820789  0.658277 -0.521816 -1.389474
f -0.907986  0.344934 -0.423069  0.440343
g  0.574431 -1.712359  0.159761 -2.227243
h  0.166164 -0.055181  0.109001 -1.126727
a    0.292399
b   -0.867710
c    0.544243
d   -0.537503
e   -1.820789
f   -0.907986
g    0.574431
h    0.166164
Name: A, dtype: float64

In [3]:
# Select all rows for multiple columns, say list[]
print (df.loc[:,['A','C']])

          A         C
a  0.292399 -0.675785
b -0.867710  1.100251
c  0.544243  0.201483
d -0.537503 -0.250248
e -1.820789 -0.521816
f -0.907986 -0.423069
g  0.574431  0.159761
h  0.166164  0.109001
ERROR! Session/line number was not unique in database. History logging moved to new session 59

In [4]:
# Select few rows for multiple columns, say list[]
print (df.loc[['a','b','f','h'],['A','C']])

          A         C
a  0.292399 -0.675785
b -0.867710  1.100251
f -0.907986 -0.423069
h  0.166164  0.109001

In [5]:
# Select range of rows for all columns
print (df.loc['a':'h'])

          A         B         C         D
a  0.292399 -0.873413 -0.675785 -0.103260
b -0.867710  0.241270  1.100251  0.507550
c  0.544243  0.754359  0.201483  1.788713
d -0.537503  0.247198 -0.250248  1.013950
e -1.820789  0.658277 -0.521816 -1.389474
f -0.907986  0.344934 -0.423069  0.440343
g  0.574431 -1.712359  0.159761 -2.227243
h  0.166164 -0.055181  0.109001 -1.126727

In [7]:
# for getting values with a boolean array
print (df.loc['a']>0)

A     True
B    False
C    False
D    False
Name: a, dtype: bool
ERROR! Session/line number was not unique in database. History logging moved to new session 61

In [8]:
# import the pandas library and aliasing as pd
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(8, 4), columns = ['A', 'B', 'C', 'D'])

# select all rows for a specific column
print (df.iloc[:4])

          A         B         C         D
0 -1.660425 -0.125115 -0.728041 -1.475628
1  0.093704  0.482131  0.048365 -0.017873
2 -0.825425  0.493475  0.178465  1.637118
3 -0.120000  1.253140 -0.103324 -0.046141

In [9]:
# Integer slicing
print (df.iloc[:4])
print (df.iloc[1:5, 2:4])

          A         B         C         D
0 -1.660425 -0.125115 -0.728041 -1.475628
1  0.093704  0.482131  0.048365 -0.017873
2 -0.825425  0.493475  0.178465  1.637118
3 -0.120000  1.253140 -0.103324 -0.046141
          C         D
1  0.048365 -0.017873
2  0.178465  1.637118
3 -0.103324 -0.046141
4  0.692784 -0.572387

In [10]:
# Slicing through list of values
print( df.iloc[[1, 3, 5], [1, 3]])
print (df.iloc[1:3, :])
print (df.iloc[:,1:3])

          B         D
1  0.482131 -0.017873
3  1.253140 -0.046141
5  1.712571 -2.089108
          A         B         C         D
1  0.093704  0.482131  0.048365 -0.017873
2 -0.825425  0.493475  0.178465  1.637118
          B         C
0 -0.125115 -0.728041
1  0.482131  0.048365
2  0.493475  0.178465
3  1.253140 -0.103324
4  1.120273  0.692784
5  1.712571 -0.007433
6  1.013500  0.459132
7  2.132831 -1.394839

In [12]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(8, 4), columns = ['A', 'B', 'C', 'D'])

# Integer slicing
print (df.ix[:4])

AttributeError: ignored

ERROR! Session/line number was not unique in database. History logging moved to new session 65

In [13]:
# Index slicing
print (df.ix[:,'A'])

AttributeError: ignored

ERROR! Session/line number was not unique in database. History logging moved to new session 66

## Python Pandas - Statistical Functions
### Percent_change

In [14]:
import pandas as pd
import numpy as np
s = pd.Series([1,2,3,4,5,4])
print (s.pct_change())

df = pd.DataFrame(np.random.randn(5, 2))
print (df.pct_change())

0         NaN
1    1.000000
2    0.500000
3    0.333333
4    0.250000
5   -0.200000
dtype: float64
          0          1
0       NaN        NaN
1 -0.248606  -0.985385
2 -0.426813 -70.610779
3 -3.485479  -1.002105
4 -0.174853  47.456876

### Covariance

In [15]:
import pandas as pd
import numpy as np
s1 = pd.Series(np.random.randn(10))
s2 = pd.Series(np.random.randn(10))
print (s1.cov(s2))

-0.1427828051325423

In [16]:
import pandas as pd
import numpy as np
frame = pd.DataFrame(np.random.randn(10, 5), columns=['a', 'b', 'c', 'd', 'e'])
print (frame['a'].cov(frame['b']))
print (frame.cov())

-0.4525755202282566
          a         b         c         d         e
a  1.379122 -0.452576 -0.832057 -0.577428  0.489850
b -0.452576  0.850656 -0.023330  0.203096 -0.305175
c -0.832057 -0.023330  1.320715  0.539941 -0.304415
d -0.577428  0.203096  0.539941  0.965619 -0.427920
e  0.489850 -0.305175 -0.304415 -0.427920  0.829774

### Correlation

In [17]:
import pandas as pd
import numpy as np
frame = pd.DataFrame(np.random.randn(10, 5), columns=['a', 'b', 'c', 'd', 'e'])

print (frame['a'].corr(frame['b']))
print (frame.corr())

0.18994116901781463
          a         b         c         d         e
a  1.000000  0.189941  0.017356 -0.138407 -0.585428
b  0.189941  1.000000  0.133364 -0.282908 -0.075919
c  0.017356  0.133364  1.000000  0.128001  0.491140
d -0.138407 -0.282908  0.128001  1.000000  0.519603
e -0.585428 -0.075919  0.491140  0.519603  1.000000

### Data Ranking

In [19]:
import pandas as pd
import numpy as np

s = pd.Series(np.random.randn(5), index=list('abcde'))
s['d'] = s['b'] # so there's a tie
print (s.rank())

a    3.0
b    1.5
c    4.0
d    1.5
e    5.0
dtype: float64

In [24]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(10, 4),
   index = pd.date_range('1/1/2000', periods=10),
   columns = ['A', 'B', 'C', 'D'])

print (df)
r = df.rolling(window=3,min_periods=1)
print (r)

                   A         B         C         D
2000-01-01 -1.177709  0.947964 -1.915674  1.157970
2000-01-02  0.490878  0.262352 -0.047431 -0.267056
2000-01-03  0.918634 -0.363984 -1.290670  2.136125
2000-01-04  0.720559  0.187495  1.320380  0.284934
2000-01-05 -1.432212  0.528231  0.209106  0.168246
2000-01-06 -0.138645 -0.968037  0.839464 -0.911596
2000-01-07  0.036066  1.956249  1.523068  0.279423
2000-01-08 -1.629677 -0.589466  0.540511  0.701523
2000-01-09  1.473552  0.214170  0.549205  0.466400
2000-01-10 -0.223261  1.467960 -1.511474 -0.263666
Rolling [window=3,min_periods=1,center=False,axis=0]

In [25]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(10, 4),
   index = pd.date_range('1/1/2000', periods=10),
   columns = ['A', 'B', 'C', 'D'])
print (df)
r = df.rolling(window=3,min_periods=1)
#Apply Aggregation on a Whole Dataframe
print (r.aggregate(np.sum))

                   A         B         C         D
2000-01-01 -1.786955 -0.983495  0.197259 -0.782944
2000-01-02  0.259458 -0.210485  0.904655 -1.498768
2000-01-03  0.125532 -0.744372  1.085292  1.281102
2000-01-04 -0.734370 -0.572014  0.675431  1.581461
2000-01-05 -1.656233 -0.757574 -1.100183 -0.318386
2000-01-06  0.618036 -1.129251  0.932558  0.159785
2000-01-07  0.408997  0.962876 -0.982522  0.628355
2000-01-08  0.314486  0.356304 -1.192111 -1.283922
2000-01-09  1.841314 -0.195397  1.589569 -0.811255
2000-01-10 -1.272892 -0.790231 -0.374101 -0.109256
                   A         B         C         D
2000-01-01 -1.786955 -0.983495  0.197259 -0.782944
2000-01-02 -1.527497 -1.193980  1.101914 -2.281713
2000-01-03 -1.401965 -1.938352  2.187206 -1.000611
2000-01-04 -0.349380 -1.526872  2.665378  1.363795
2000-01-05 -2.265071 -2.073961  0.660540  2.544178
2000-01-06 -1.772567 -2.458840  0.507805  1.422860
2000-01-07 -0.629199 -0.923950 -1.150147  0.469754
2000-01-08  1.341520  0.189929 -1.242076 -0.495782
2000-01-09  2.564798  1.123783 -0.585065 -1.466822
2000-01-10  0.882909 -0.629324  0.023356 -2.204433

In [26]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(10, 4),
   index = pd.date_range('1/1/2000', periods=10),
   columns = ['A', 'B', 'C', 'D'])
print (df)
r = df.rolling(window=3,min_periods=1)
#Apply Aggregation on a Single Column of a Dataframe
print (r['A'].aggregate(np.sum))

                   A         B         C         D
2000-01-01  1.906799  1.239127  0.191606  1.501727
2000-01-02 -0.094722  0.417794  1.066898 -0.210725
2000-01-03 -0.394554 -0.390028  0.002810  1.485387
2000-01-04 -0.419024  0.739268  0.620975  1.247623
2000-01-05 -1.521356 -0.999904  0.189796  0.256113
2000-01-06 -1.521856  0.073244  2.090196  0.440381
2000-01-07  0.172376 -0.585668 -0.460591 -0.199570
2000-01-08  0.477274  0.611307  0.263959 -2.752503
2000-01-09 -0.494558  0.438161  0.772826  0.004317
2000-01-10 -0.258112 -0.276165 -0.326939 -1.473800
2000-01-01    1.906799
2000-01-02    1.812077
2000-01-03    1.417523
2000-01-04   -0.908300
2000-01-05   -2.334934
2000-01-06   -3.462237
2000-01-07   -2.870837
2000-01-08   -0.872207
2000-01-09    0.155091
2000-01-10   -0.275396
Freq: D, Name: A, dtype: float64

In [27]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(10, 4),
   index = pd.date_range('1/1/2000', periods=10),
   columns = ['A', 'B', 'C', 'D'])
print (df)
r = df.rolling(window=3,min_periods=1)
#Apply Aggregation on Multiple Columns of a DataFrame
print (r[['A','B']].aggregate(np.sum))

                   A         B         C         D
2000-01-01  1.463900  0.427414 -1.739221  1.540769
2000-01-02 -0.644625 -1.048233  0.862224  0.591757
2000-01-03 -1.925620  0.968034  0.449763 -1.328873
2000-01-04 -0.481351 -0.497835  0.844274  0.267036
2000-01-05  0.317633 -0.911876 -0.081206  0.483308
2000-01-06 -1.096264  1.038905 -0.021314  1.036904
2000-01-07  1.308458 -0.014836  0.580794  2.043913
2000-01-08  0.676740  0.048138  0.533454  1.548548
2000-01-09  1.106980  1.949660 -0.777793 -0.453711
2000-01-10 -1.618077 -1.170948  0.538727  0.412916
                   A         B
2000-01-01  1.463900  0.427414
2000-01-02  0.819275 -0.620819
2000-01-03 -1.106345  0.347215
2000-01-04 -3.051596 -0.578034
2000-01-05 -2.089337 -0.441678
2000-01-06 -1.259982 -0.370806
2000-01-07  0.529828  0.112193
2000-01-08  0.888934  1.072208
2000-01-09  3.092178  1.982963
2000-01-10  0.165642  0.826850

In [30]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(10, 4),
   index = pd.date_range('1/1/2000', periods=10),
   columns = ['A', 'B', 'C', 'D'])
print (df)
r = df.rolling(window=3,min_periods=1)
#Apply Multiple Functions on a Single Column of a DataFrame
print (r['A'].aggregate([np.sum,np.mean]))

ERROR! Session/line number was not unique in database. History logging moved to new session 67
                   A         B         C         D
2000-01-01 -0.397991 -0.990476 -1.234097  0.114659
2000-01-02  0.603886 -0.990469 -0.346350 -1.439146
2000-01-03 -0.401738 -0.240121  0.130634  0.186031
2000-01-04  0.393605  1.697642  1.027076 -0.134269
2000-01-05  0.693342 -1.463085 -2.406769 -2.041613
2000-01-06  0.218227  1.229333  1.471921  0.552397
2000-01-07 -0.258073 -2.396670 -1.477010  0.044581
2000-01-08  0.562726  1.334403  1.103410  1.091433
2000-01-09  0.053234  0.096834 -0.142818  1.507816
2000-01-10  1.158007  0.644787  0.548569  2.474784
                 sum      mean
2000-01-01 -0.397991 -0.397991
2000-01-02  0.205896  0.102948
2000-01-03 -0.195842 -0.065281
2000-01-04  0.595753  0.198584
2000-01-05  0.685209  0.228403
2000-01-06  1.305173  0.435058
2000-01-07  0.653496  0.217832
2000-01-08  0.522880  0.174293
2000-01-09  0.357887  0.119296
2000-01-10  1.773967  0.591322

In [29]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(10, 4),
   index = pd.date_range('1/1/2000', periods=10),
   columns = ['A', 'B', 'C', 'D'])
print (df)
r = df.rolling(window=3,min_periods=1)
#Apply Multiple Functions on Multiple Columns of a DataFrame
print (r['A','B'].aggregate([np.sum,np.mean]))

                   A         B         C         D
2000-01-01  1.066705  1.573854  1.353902  0.399913
2000-01-02  1.777293  1.639335 -0.106751 -0.836782
2000-01-03 -1.709802  0.649977  0.125021 -0.283893
2000-01-04 -0.802071  1.318019 -0.853065 -0.148225
2000-01-05 -0.758695 -0.858948  0.034218 -0.014119
2000-01-06 -1.009077  0.304555 -0.371703 -1.488653
2000-01-07 -0.777553  0.363379 -0.083145 -1.726993
2000-01-08  0.706926 -0.300866  0.716523  0.827239
2000-01-09 -0.947488 -1.581791 -1.832857 -0.322685
2000-01-10 -0.591068 -0.570170  0.654484  1.687207
                   A                   B
                 sum      mean       sum      mean
2000-01-01  1.066705  1.066705  1.573854  1.573854
2000-01-02  2.843998  1.421999  3.213189  1.606594
2000-01-03  1.134197  0.378066  3.863166  1.287722
2000-01-04 -0.734579 -0.244860  3.607331  1.202444
2000-01-05 -3.270567 -1.090189  1.109048  0.369683
2000-01-06 -2.569843 -0.856614  0.763627  0.254542
2000-01-07 -2.545325 -0.848442 -0.191014 -0.063671
2000-01-08 -1.079704 -0.359901  0.367068  0.122356
2000-01-09 -1.018115 -0.339372 -1.519278 -0.506426
2000-01-10 -0.831630 -0.277210 -2.452826 -0.817609

In [31]:
import pandas as pd
import numpy as np
 
df = pd.DataFrame(np.random.randn(3, 4),
   index = pd.date_range('1/1/2000', periods=3),
   columns = ['A', 'B', 'C', 'D'])
print (df)
r = df.rolling(window=3,min_periods=1)
#Apply Different Functions to Different Columns of a Dataframe
print (r.aggregate({'A' : np.sum,'B' : np.mean}))

                   A         B         C         D
2000-01-01 -0.809166  1.350583  0.701657 -0.089375
2000-01-02  1.275951 -1.321435 -0.693635 -1.583858
2000-01-03 -0.736416  0.045501 -1.892606 -0.103847
                   A         B
2000-01-01 -0.809166  1.350583
2000-01-02  0.466786  0.014574
2000-01-03 -0.269631  0.024883

## Python Pandas - Missing Data